@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');



body {
background-color: #82DDB5;
background-image: url('img/illustration.gif'), url('img/texture.jpg');
background-position: center 280px, left top;
background-repeat: no-repeat, repeat-x;
background-size: 800px, auto;
font-family: 'Quicksand', sans-serif;
margin: 0;
}

#nav {
background-color: #6B9;
border-bottom: 2px dashed #487;
color: white;
font-weight: bold;
padding: 20px 0;
text-align: center;
word-spacing: 2em;
}


#header {
text-align: center;
margin-top: 40px;
}


#logo {
max-width: 360px;
}


#description, #date {
max-width: 220px;
}


.register_btn {
background-color: #E43;
border: 2px dashed #A43;
border-radius: 2em;
color: #FFF;
cursor: pointer;
display: inline-block;
font-weight: bold;
margin-top: 25px;
padding: 15px 30px;
}

h1 {text-align: center;}
h2 {text-align: center;}
h3 {text-align: center;}

#what {
    background-color: #C7EEDDDD;
    color: #347788;
    padding: 8em;
    margin-top: 22.8em
    }
#sponsor_logos  {
   width:50%;
   }

#why {
  color: #347788;
    padding-left: 8em;
    padding-right: 8em;
    padding-top: 2em;
    padding-bottom: 3em;
}

#where {
    background-image: url('img/map.gif');
     background-repeat: no-repeat;
    background-position: center;
    height: 450px;
    padding-top:2em;
    color: #BB4387;
    font-weight: bold;
    text-align: right;
    padding-left: 7.5em;
    padding-right: 7.5em;
    padding-bottom: 5em;
}

#when {
    color:white;
    background-image: url('img/wires.png');
    background-color:#439998;
    background-size: 47em;
    background-repeat:repeat;
    background-position: center;
    display:flow-root;
    
    
}

#when h1, h2, h3 {
    text-align: center;
    font-weight: bolder;
    padding-top: 10px;
    padding-bottom: 10px
}

#when h2, ul {
    padding-bottom: 40px;
    border-bottom: 2px dashed white;
    padding-left:10em;
    padding-right:10em;
}


#who {
    background-color:#F5F5F5;
    color:#347788;
    padding-left: 10em;
    padding-right: 10em;
    padding-bottom: 2em;
    display:flow-root;
     
}

#footer {
    
    
}


